
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
    font-family: 'Work Sans', sans-serif;
}

header, .resume h2{
    margin-bottom: 100px;
}

a{
    text-decoration: none;
}

header{
    padding: 20px 0 20px 20px;
}

main, .experience, .education, .skills{
    border-bottom: #c7c7c7 1px solid;
}

.heading, .experience, .information, .education, .education-column, .skills, .projects-list, footer{
    display: flex;
}

.experience, .education, .skills{
    padding: 50px 30px;
}

.experience, .information, .education, .skills{
    justify-content: space-between;
    align-items: baseline;
}

main{
    width: 1400px;
    margin: 0 auto;
    padding-bottom:  50px;
}

p, li{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1{
    font-size: 22px;
}

h2{
    font-size: 42px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 18px;
    margin-bottom: 5px;
}

header div:first-child{
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: baseline;
}

.photo{
    width: 500px;
    height: 500px;
    background-image: url(photo.jpg);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.heading{
    margin: 0 auto;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.heading div:last-child{
    width: 450px;
}

.icon-download:hover{
    color: rgb(195, 6, 6);
}

[class^="icon-"]{
    font-size: 28px;
    color: rgb(0, 0, 0);
}

.education-column{
    flex-direction: column;
}

.information{
    width: 500px;
    margin-bottom: 20px;
}

.paragraph{
    width: 300px;
}

.projects{
    padding-top: 50px;
}

.projects-list{
    justify-content: space-evenly;
}

.funiro{
    background-image: url(funiro.png);
}

.bislite{
    background-image: url(bislite-free-html5-templates.jpg);
}

.projects-list a{
    width: 500px;
    height: 340px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    position: relative;
}

.projects-list a:hover::before{
    content: "";
    width: 500px;
    height: 340px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(60, 60, 60, 0.655);
}









footer{
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    align-content: space-between;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
    font-family: 'Work Sans', sans-serif;
}

header, .resume h2{
    margin-bottom: 100px;
}

a{
    text-decoration: none;
}

header{
    padding: 20px 0 20px 20px;
}

main, .experience, .education, .skills{
    border-bottom: #c7c7c7 1px solid;
}

.heading, .experience, .information, .education, .education-column, .skills, .projects-list, footer{
    display: flex;
}

.experience, .education, .skills{
    padding: 50px 30px;
}

.experience, .information, .education, .skills{
    justify-content: space-between;
    align-items: baseline;
}

main{
    width: 1400px;
    margin: 0 auto;
    padding-bottom:  50px;
}

p, li{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1{
    font-size: 22px;
}

h2{
    font-size: 42px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 18px;
    margin-bottom: 5px;
}

header div:first-child{
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: baseline;
}

.photo{
    width: 500px;
    height: 500px;
    background-image: url(photo.jpg);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.heading{
    margin: 0 auto;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.heading div:last-child{
    width: 450px;
}

.icon-download:hover{
    color: rgb(195, 6, 6);
}

[class^="icon-"]{
    font-size: 28px;
    color: rgb(0, 0, 0);
}

.education-column{
    flex-direction: column;
}

.information{
    width: 500px;
    margin-bottom: 20px;
}

.paragraph{
    width: 300px;
}

.projects{
    padding-top: 50px;
}

.projects-list{
    justify-content: space-evenly;
}

.funiro{
    background-image: url(funiro.png);
}

.bislite{
    background-image: url(bislite-free-html5-templates.jpg);
}

.projects-list a{
    width: 500px;
    height: 340px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    position: relative;
}

.projects-list a:hover::before{
    content: "";
    width: 500px;
    height: 340px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(60, 60, 60, 0.655);
}









footer{
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    align-content: space-between;
    align-items: center;
}